{% extends 'base.html' %} 
{% block content %}
<h1>Hello World! (jangod example)</h1>
See the <a href="https://github.com/SmartOnCloud/jangod-samples/blob/master/hello-world/src/main/java/org/jangod/samples/helloworld/HelloController.java" target="_blank"> controller</a> and <a href="https://github.com/SmartOnCloud/jangod-samples/blob/master/hello-world/src/main/webapp/views/index.html" target="_blank">template</a> source.
<br/>
{# array iteration example #}
<h2>Array items:</h2>
<ul>
{% for item in array %}<li>{{ item }}{% endfor %}
</ul>
{# list  iteration example #}
<h2>List items (size: {{ list|length }}):</h2>
<ul>
{% for item in list %}<li>{{ item }}{% endfor %}
</ul>

{# list reverse iteration example #}
<h2>Reversed list items with loop properties (size: {{ list|length }}):</h2>
<ul>
{% for item in list|reverse %}<li>{{ item }} -> loop properties (first={{ loop.first }}, last={{ loop.last }}, counter={{ loop.counter }}, index={{ loop.index }}){% endfor %}
</ul>

{# map  iteration example #}
<h2>Map entries (size: {{ map|length }}):</h2>
<ul>
{% for item in map %}<li>{{ item.key }} - {{ item.value }}{% endfor %}
</ul>

{# direct map access #}
<h2>Direct map access:</h2>
Map keys: {{ map.keySet() }} <br/>
Map size: {{ map|length }} <br/>
Map value for 'key_1': {{ map.key_1 }} <br/>
Map value for 'key_2': {{ map.key_2|default:"(not found)" }} <br/>
Map value for 'key_4': {{ map.key_4|default:"(not found)" }} <br/>

<h2>SpEL examples:</h2>
{% for item in map %}<li>{{ item.key }} - {{ item.value }}{% endfor %}
<h3>Static method invocation</h3>
Random number from SpEL: {{ T(java.lang.Math).random() * 100.0 }}
<h3>In-template array size() method</h3>
SpEL list length: {{ {1,2,3,4,"test"}.size() }}
<h3>Logical expressions (==,!=)</h3>
{% if 'val'!='sval' %}
{{ 'val'=='val' }}
{% endif %}
<h3>Complex expression evaluation</h3>
Map value for 'key_2' split (_) to Array and shown as list: {{  T(java.util.Arrays).asList(map.key_2.split("_")) }} <br/>
{% set varName T(java.util.UUID).randomUUID() %}
{{ varName }}
<br/>
{% set varName {{{1,2,4},{6,7,9}}} scope %}
{{ varName[0][0][2] }}

<h2>Nested loops</h2>
<ul>
{% for item in {1,2,3,4,"test"} %}
<li>[{{ loop.index }}] {{ item }} <br/>
<ul>
	{% for item2 in {5,6,7} %}<li>[{{ loop.index }}] - {{ item2 }} <br/>{% endfor %}
	</ul>
{% endfor %}
</ul>
<h2>System properties</h2>
{% for property in properties %}
{{ property }} <br/>
{% endfor %}
Local address: {{ addr }}:{{ port }}
{% endblock %}
